@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {

    <table border="1">
    <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Private</th>
        <th>Action</th>
    </tr>

    <h1>@tasks.size() task(s)</h1>

    @for(task <- tasks) {
    <tr>
        <td><i>@task.id</i></td>
        <td>@task.label</td>
        <td>@task.isPrivate</td>
        <td>
        @form(routes.Application.deleteTask(task.id)) {
        <input type="submit" value="Delete">
        }
        </td>
    </tr>
    }
    </table>

    <h2>Add a new task</h2>

    @form(routes.Application.newTask()) {

        @inputText(taskForm("label"))

        @checkbox(taskForm("isPrivate"))

        <input type="submit" value="Create">

    }

}